.arrow-down {
  margin-top: 10px;
  animation: pointdown 1.5s ease-in-out 0s infinite;
}

@keyframes pointdown {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

//Till Mobile
//-------------------------------------------------------
@media (max-width: $screen__s) {

}

//Till Tablet
//-------------------------------------------------------
@media (max-width: $screen__m) {

}

//Desktop
//-------------------------------------------------------
@media (max-width: $screen__l) {

}

//Desktop XL
//-------------------------------------------------------
@media (max-width: $screen__xl) {

}