//Common
//-------------------------------------------------------
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-top: 1px solid #e5e5e5;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #e3e3e3;
      text-decoration: underline;
    }
  }
}

//Till Mobile
//-------------------------------------------------------
@media (max-width: $screen__s){

}

//Till Tablet
//-------------------------------------------------------
@media (max-width: $screen__m){

}
//Desktop
//-------------------------------------------------------
@media (max-width: $screen__l){

}
//Desktop XL
//-------------------------------------------------------
@media (max-width: $screen__xl){

}