//Common
//-------------------------------------------------------

.contact-form {
  display: block;
  margin: 0 auto;
  max-width: 550px;
  padding: 10px 0;

}

//Till Mobile
//-------------------------------------------------------
@media (max-width: $screen__s){

}

//Till Tablet
//-------------------------------------------------------
@media (max-width: $screen__m){

}
//Desktop
//-------------------------------------------------------
@media (max-width: $screen__l){

}
//Desktop XL
//-------------------------------------------------------
@media (max-width: $screen__xl){

}